<section data-ng-controller="CandidatesController" data-ng-init="findOne()">
    <form name="candidateForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(candidateForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : submitted && candidateForm.title.$invalid }">
            <label mean-token="'update-firstname'" class="col-md-3 control-label">First name</label>
            <div class="col-md-9">
                <input name="firstname" type="text" class="form-control" data-ng-model="candidate.firstname" id="firstname" placeholder="First name" required>
                <div ng-show="submitted && candidateForm.firstname.$invalid" class="help-block">
                    <p ng-show="candidateForm.firstname.$error.required">First name is required</p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : submitted && candidateForm.lastname.$invalid }">
            <label mean-token="'edit-lastname'" for="lastname" class="col-md-3 control-label">Last name</label>
            <div class="col-md-9">
                <textarea name="lastname" data-ng-model="candidate.lastname" id="lastname" cols="30" rows="10" placeholder="Last name" class="form-control" required></textarea>
                <div ng-show="submitted && candidateForm.lastname.$invalid" class="help-block">
                    <p ng-show="candidateForm.lastname.$error.required">Last name is required</p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : submitted && candidateForm.email.$invalid }">
            <label mean-token="'edit-email'" for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
                <input type="email" name="email" data-ng-model="candidate.email" id="email" placeholder="Email" class="form-control" required/>
                <div ng-show="submitted && candidateForm.email.$invalid" class="help-block">
                    <p ng-show="candidateForm.email.$error.required">Email is required</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label mean-token="'edit-note'" for="note" class="col-md-3 control-label">Note</label>
            <div class="col-md-9">
                <textarea name="note" data-ng-model="candidate.note" id="note" cols="30" rows="10" placeholder="Note" class="form-control" ></textarea>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button  mean-token="'edit-submit'" type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
</section>
